/*##################################
ACTIVITY SHOW
/*##################################*/

.activity-container {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

main {
    border: 2px solid #5e8d5a;
    height: 30vh;
    margin-left: 5%;
    width: 80%;
    padding: 5%;
}

.background-image-activity {
    background-image: url('../../images/black-forest.jpeg');
    background-size: cover;
    background-repeat: none;
    height: 40vh;
}