.barTheme {
    background-color: #c6d7b9;
    color: #5e8d5a;
    font-size: 20px;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  };